.bug {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(214, 199, 199);
    transition: 0.8s;
    margin-bottom: 20px;
    cursor: pointer;
}
.bug:hover {
    transform: scale(1.15, 1.15);
}
.teamName {
    display: inline;
}
.add {
    float: right;
}
